@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
    font-family: "Lora", serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1rem;
    color: #2e3343c7;
}

.fs-15 {
    font-size: 15px;
}

.outline-none {
    outline: none;
}

.container {
    max-width: 1115px !important;
}

.primary-hover:hover {
    color: #0068B1 !important;
    text-decoration: underline !important;
}

.fs-10 {
    font-size: 12.5px;
}

.switch {
    width: 40px;
    height: 20px;
}

.switch input {
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    border: 1px double black;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 1px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 2.5px;
    /* background-color: white; */
    background: linear-gradient(to right, white 50%, black 50%);
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #180BB1;
    border: 0;

}


input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background: white;
    border: 0;
    bottom: 3.5px;

}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navInput-parent {
    width: 30px;
    transition: all ease 1s;
}

.navInput-parent i {
    color: #0068B1;
}


.toggleWidth {
    width: 220px;
    border: 1px solid #3d86ca
}


.nav-logo {
    max-width: 100px;
}

.ff {
    font-family: "Lexend", sans-serif;
}

.text {
    color: #213343e5
}

.fs-18 {
    font-size: 18px;
}


.fw-500 {
    font-weight: 500;
}

.nav-btn:hover {
    color: #175FA3;
}

.underlinehover:hover {
    text-decoration: underline !important;
}

.linkcolor {
    color: #175FA3;
}

.modal-body {
    background-color: #f6f9fc;
    border: 1.2px solid #175FA3;
}

.ls {
    letter-spacing: 0.4px;
}

.search-div input {
    border: 1.3px solid #3d86ca;
    background-color: #F6F9FC;
}

.hero-div {
    background-color: #FEF4EA;
}

.hero-div h1 {
    font-weight: 600 !important;
}

.fs-55 {
    font-size: 55px;
}

.-secondary {
    color: #213343;
}


.mw-card-img {
    max-width: 130px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.swiper-button-next i,
.swiper-button-prev i {
    font-size: 20px;
    color: black;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next i {
    right: 20px !important;
}

.swiper-pagination {
    width: 100px;
}

.swiper-wrapper {
    cursor: grab;
}

.fw-thin {
    font-weight: 200;
}

.fs-medium {
    font-size: 17px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background-color: #213343 !important;
}

.search-div {
    display: none;
}

.transition {
    transition: all ease 0.4s;
}

.bg-orange {
    background-color: #FF5C35;
    color: white;
    border: 2px solid #FF5C35;
}

.bg-orange:hover {
    background-color: #ec5731;
    border-color: #ec5731;
}

.high-contrast .bg-orange {
    background-color: #180BB1;
    border-color: #180BB1;
}

.high-contrast .bg-orange:hover {
    background-color: #c3e8ff;
    color: #180BB1;
    border-color: #c3e8ff;
}

.text-orange {
    background-color: white;
    border: 2px solid #ff623b;
    color: #ff623b;
}

.text-orange:hover {
    background-color: #FEF4EA;
}

.high-contrast .text-orange {
    color: #180BB1;
    background-color: #e6f3ff;
    border-color: #180BB1;
}

.high-contrast .text-orange:hover {
    background-color: #d8ebff;
}

.parent-hotspot {
    background-color: #F6F9FC;
}

.parent-hotspot i {
    background-color: #ff623b;
    padding: 25px 25px;
}

.parent-hotspot i:hover {
    background-color: #ec5731;
}

.fw-300 {
    font-weight: 300;
}

.fs-17 {
    font-size: 17px;
}

.modal-close-btn:hover {
    background-color: #eaf7ff !important;
}

.modal-btn {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fe5b3691;
}

.modal-btn i {
    font-size: 45px;
}

.modal-thumnail:hover .modal-btn {
    background-color: #FE5C36;
}

.customer-plateform {
    background-color: #FEF4EA;
}









@media screen and (max-width:1100px) {
    .toggleWidth {
        width: 180px;
    }
}

@media screen and (max-width:990px) {

    .nav-demo-btn,
    .nav-started-btn {
        width: 100%;
    }

    .contrastbtn-parent {
        display: none !important;
    }
}

@media screen and (max-width:576px) {
    .parent-div-btn a {
        width: 100%;
    }

    .modal-btn i {
        font-size: 35px;
    }
}

@media screen and (max-width:400px) {
    .mw-card-img {
        max-width: 100px;
    }

    .fs-17{
        font-size: 15px;
    }

    .modal-btn i {
        font-size: 20px;
    }
}

@media screen and (max-width:351px) {
    .parent-hotspot .flex-wrap {
        justify-content: center;
    }

    .parent-hotspot .flex-wrap a {
        width: 100%;
    }

}